@media screen and (min-width:380px) {
    .sidenav .closebtn,.sidenav .optio_btn {
        display: none;
    }
    .navigation ul li {
        display: inline;
        width: 100%;

    }

    .sidenav {
        position: relative;
        padding-top: auto;
        padding-bottom: auto;
        text-align: center;
        height: 50px;
        width: 100%;
        background-color: green;
        top: 25px;
        margin-bottom: 16px;
    }
    .h_bar_nav
    {
        position: absolute;
        padding-top: auto;
        padding-bottom: auto;
        top: 0px;
        width: 100%;
        height: 30px;
        background-color: lime;
    }
    .h_bar_nav ul li a {
        font-size: 24px;
        float: right;
    }
    .h_bar_nav ul li a {
        margin: 1px;
        padding: 6px;
    }
    .sidenav ul li a {
        font-size: 24px;
        color: white;
        margin: 1px;
        padding: 12px;
    }
    .sidenav ul {
        padding-top: 20px;
    }

    #page_name {
        z-index:2;
        top: 5px;
        font-size: 32px;
        position: absolute;
        left: 45px;
        font-family: 'Rubik 80s Fade', cursive;
        color: rgb(50,60,40);
    }
    #page_name emp {
        font-weight: bold;
        font-size: 44px;
        color: black;
    }
    .page-heading {
        position: relative;
        top: 44px;
        margin-top: 12px;
        font-size: 54px;


    }
    #gec-logo {
        margin-top: 28px;
        margin-bottom: 12px;
    }
    .faculty-account{
        display: block;
        font-size:24px;
    }
    .sir-dis{
        font-weight: bold;
        position: relative;
        right:220px;
    }
    .faculties-heading{
        font-size: 64px;
    }
    .bose .head-s h4 , .ps .head-s h4 ,.sir-dis{
        font-size:46px;
    }
    .branch_details h5{
        font-size: 18px;
    }
    .branch_details h4{
        font-size: 38px;
    }
    .branch_details h5{
        font-style: italic;
        font-weight: lighter;
        font-family: 'Caramel', cursive;
    }
    .branch_details img{
        width:420px;
    }

}